<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://bootswatch.com/5/vapor/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-image: url("https://s3-ap-southeast-1.amazonaws.com/assets.skyfilabs.com/images/blog/vehicle_based_street_lighting_system-min.jpg");
        background-size: cover; /* Cover the entire container */
        background-repeat: no-repeat; /* Prevent image repetition */
        background-attachment: fixed; /* Fixed background *
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <!--<img src="https://s3-ap-southeast-1.amazonaws.com/assets.skyfilabs.com/images/blog/vehicle_based_street_lighting_system-min.jpg">-->
      <div class="container">
          <br/>
          {% if messages %}
            {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}  
          {% endif %}
        {%block content %}
        {% endblock %}  
      </div>
    </img>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>