{% extends 'base.html' %}

{%block content%}


{% if user.is_authenticated %}
<h1> Dashboard </h1>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Bulb Issue</th>
      <th scope="col">Current Leakeage</th>
      <th scope="col">Broken Wire</th>
      <th scope="col">No Signal</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% if records %}
      {% for record in records %}
        <tr>
          <td><a href="{% url 'problem1' record.Bulb_Issue %}">{{record.Bulb_Issue}}</a> </td>
          <td><a href="{% url 'problem2' record.Curr_Leak %}">{{record.Curr_Leak}}</a></td>
          <td><a href="{% url 'problem3' record.Brok_Wire %}">{{record.Brok_Wire}}</a></td>
          <td><a href="{% url 'problem4' record.No_Sgnl %}">{{record.No_Sgnl}}</a></td>
        <br/>
        </tr>
  {% endfor %}
{% endif %}
</table>

{% else %}
<div class="col-md-6 offset-md-3">
<h1> Login </h1>
<br/>
<form method ="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>
</div>
{% endif %}
{% endblock %}