{% extends 'base.html' %}

{%block content%}


{% if user.is_authenticated %}
<h1 style="color:white;"> Dashboard </h1>

{% comment %} <table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Bulb Issue</th>
      <th scope="col">Current Leakeage</th>
      <th scope="col">Broken Wire</th>
      <th scope="col">No Signal</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
        <tr>
          <td><a href="{% url 'problem1' record.Bulb_Issue %}">{{record.Bulb_Issue}}</a> </td>
          <td><a href="{% url 'problem2' record.Curr_Leak %}">{{record.Curr_Leak}}</a></td>
          <td><a href="{% url 'problem3' record.Brok_Wire %}">{{record.Brok_Wire}}</a></td>
          <td><a href="{% url 'problem4' record.No_Sgnl %}">{{record.No_Sgnl}}</a></td>
        <br/>
        </tr>
</table> {% endcomment %}

<div id="issuetable" class="d-flex">

  <div class="d-flex flex-column mb-3">
    <div class="p-2">Common Issue</div>
    {% if common_issues %}
    {% for issue in common_issues %}
      <div class="p-2">{{issue}} </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="d-flex flex-column mb-3">
    <div class="p-2"> Current Leakage </div>
    {% if current_leakage %}
    {% for issue in current_leakage %}
      <div class="p-2"> {{issue}} </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="d-flex flex-column mb-3">
    <div class="p-2"> Broken Wire </div>
    {% if broken_wire %}
    {% for issue in broken_wire %}
      <div class="p-2"> {{issue}} </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="d-flex flex-column mb-3">
    <div class="p-2"> No Signal </div>
    {% if no_signal %}
    {% for issue in no_signal %}
      <div class="p-2"> {{issue}} </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% else %}
<div class="col-md-6 offset-md-3">
<h1 style="color:white;"> Login </h1>
<br/>
<form method ="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>
</div>
{% endif %}
{% endblock %}